<div style="text-align: center;">
    <h1>
        Welcome to your personal Physics Calculator Mr. Arnell!
    </h1>

    <b>What branch of physics may I assist you with today?</b>
    <br>
    <a [routerLink]="['/linear-kinematics']" routerLinkActive="router-link-active">Linear Kinematics</a>
    <br>
    <a [routerLink]="['/vector-projectiles']" routerLinkActive="router-link-active">Vectors and Projectiles</a>
    <br>
    <a [routerLink]="['/forces']" routerLinkActive="router-link-active">Newton's Laws and Forces</a>
    <br>
    <a [routerLink]="['/linear-energy']" routerLinkActive="router-link-active">Potential and Kinetic Energy</a>
    <br>
    <a [routerLink]="['/rotational-quantities']" routerLinkActive="router-link-active">Rotational Quantities</a>
    <br>
    <a [routerLink]="['/angular-momemntum']" routerLinkActive="router-link-active">Angular Momentum</a>
    <br>
    <a [routerLink]="['/universal-gravitation']" routerLinkActive="router-link-active">Universal Gravitation</a>
</div>